<div class="container mt-4 mb-4">
  <div class="row justify-content-center mb-2">
    <div class="col-6">
      <h2 class="mb-4">Register Landlord</h2>
      <form [formGroup]="form">
        <div class="form-group">

          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input formControlName="surname" type="text" class="form-control" id="surname" placeholder="Surname">
        </div>
        <div class="form-group">
          <input formControlName="address" type="text" class="form-control" id="address" placeholder="Address">
        </div>
        <div class="form-group">
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input formControlName="postal" type="number" class="form-control" id="postal" placeholder="Postal code">
        </div>
        <div formArrayName="properties">
          <div class="form-group add-properties">
            <button class="btn btn-primary waves-light" type="button" (click)="addProperty()">+</button>
            <span>Add property</span>
          </div>
          <div *ngFor="let property of form.controls.properties.controls; let i=index">
            <div class="form-group add-properties" [formGroupName]="i">
              <input formControlName="property" type="text" class="form-control" id="property" placeholder="Propertie">
              <button class="btn btn-primary waves-light" type="button" *ngIf="form.controls.properties.controls.length > 1" (click)="removePropertie(i)">-</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input formControlName="rate" type="number" class="form-control" id="rate" placeholder="Rate">
        </div>
        <button [disabled]="!form.valid" type="submit" (click)="submitForm()" class="btn btn-primary waves-light">Submit</button>
      </form>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div [hidden]="form.valid" class="alert alert-danger" role="alert">
        Please fill the form correctly
      </div>
      <div [hidden]="!form.valid" class="alert alert-success" role="alert">
        Ready!!
      </div>
    </div>
  </div>
  <div class="row mb-2">
    {{form.value | json}}
  </div>
  <div *ngIf="landLords.length !== 0" class="row mb-2">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Address</th>
          <th scope="col">email</th>
          <th scope="col">Postal</th>
          <th scope="col">Properties</th>
          <th scope="col">Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let landlord of landLords; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{landlord.name}}</td>
          <td>{{landlord.surname}}</td>
          <td>{{landlord.address}}</td>
          <td>{{landlord.email}}</td>
          <td>{{landlord.postal}}</td>
          <td *ngFor="let item of landlord.properties; let j = index">{{item.property}}</td>
          <td>{{landlord.rate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
