<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#"><strong>MyLandord</strong></a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
          <a routerLink="landlord-register" class="nav-link">Register landlord</a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
          <a routerLink="landlord-list" class="nav-link" >Landlords</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
