<div class="container mt-4 mb-4">
  <div class="row justify-content-center mb-2">
    <div class="col-12">
      <h2 class="mb-4">Landlords</h2>
      <div *ngIf="landlords && landlords.length > 0; else nolandlords" class="list-group">
        <a *ngFor="let landlord of landlords; let i = index" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 font-weight-bold">{{landlord.name}} {{landlord.surname}}</h5>
          </div>
          <ul class="madia-info">
            <li>{{landlord.email}}</li>
            <li>{{landlord.address}}, {{landlord.postal}}</li>
            <li>Properties: {{landlord.properties.length}}</li>
          </ul>
        </a>
      </div>
      <ng-template #nolandlords>
        <blockquote class="blockquote bq-primary">
          <p class="bq-title">SORRY !!</p>
          <p>There are no current landlords registered at this time, help us build this community and be the first to <a class="blue-text" routerLink="/landlord-register">register one</a></p>
        </blockquote>
      </ng-template>
    </div>
  </div>
</div>




